{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Baloo+Bhaijaan+2:wght@400..800&family=Bungee&family=Jomhuria&family=Lalezar&family=Markazi+Text:wght@400..700&family=Protest+Revolution&family=Readex+Pro:wght@160..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href={%  static "css/dentist.css" %}>
        <meta http-equiv="x-ua-compatible" content="IE-edge">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>Dentistry</title>
</head>
<body>
    <section id="team">
<div class="team-heading">
    <h3>تیم پرودنتال</h3>
</div>

<div class="swiper mySwiper">
    <div class="swiper-wrapper">


      <div class="swiper-slide">
        <div class="team-box">
            <div class="t-b-img">
                <img src="{% static "img/one.png" %}">
            </div>
            <div class="t-b-text">
                <strong>شهرزاد علوی</strong>
                <span>مدیریت کلینیک</span>
                <div class="team-social">
                    <a href="#">
                        <img src="{% static "img/icons8-twitter-circled-94.png" %}">
                    </a>
                    <a href="#">
                        <img src="{% static "img/icons8-instagram-94.png" %}">
                    </a>
                    <a href="#">
                        <img src="{% static "img/phone3d.png" %}">
                    </a>
                </div>
            </div>
        </div>
      </div>

<!-- slide2 -->
      <div class="swiper-slide">
        <div class="team-box">
            <div class="t-b-img">
                <img src="{% static "img/two.png" %}">
            </div>
            <div class="t-b-text">
                <strong>آراد حسینی</strong>
                <span>دندانپزشک</span>
                <div class="team-social">
                    <a href="#">
                        <img src="{% static "img/icons8-twitter-circled-94.png" %}">
                    </a>
                    <a href="#">
                        <img src="{% static "img/icons8-instagram-94.png" %}">
                    </a>
                    <a href="#">
                        <img src="{% static "img/phone3d.png" %}">
                    </a>
                </div>
            </div>
        </div>
      </div>
<!-- <slide3 -->
    <div class="swiper-slide">
        <div class="team-box">
            <div class="t-b-img">
                <img src="{% static "img/three.png" %}">
            </div>
            <div class="t-b-text">
                <strong>عسل احمدزاده</strong>
                <span>دستیار دندانپزشک</span>
                <div class="team-social">
                    <a href="#">
                        <img src="{% static "img/icons8-twitter-circled-94.png" %}">
                    </a>
                    <a href="#">
                        <img src="{% static "img/icons8-instagram-94.png" %}">
                    </a>
                    <a href="#">
                        <img src="{% static "img/phone3d.png" %}">
                    </a>
                </div>
            </div>
        </div>
      </div>

      <!-- slide4 -->

      <div class="swiper-slide">
        <div class="team-box">
            <div class="t-b-img">
                <img src="{% static "img/four.png" %}">
            </div>
            <div class="t-b-text">
                <strong>رسول شکیبا</strong>
                <span>دندانپزشک</span>
                <div class="team-social">
                    <a href="#">
                        <img src="{% static "img/icons8-twitter-circled-94.png" %}">
                    </a>
                    <a href="#">
                        <img src="{% static "img/icons8-instagram-94.png" %}">
                    </a>
                    <a href="#">
                        <img src="{% static "img/phone3d.png" %}">
                    </a>
                </div>
            </div>
        </div>
      </div>

      <!-- <slide5></slide5> -->

      <div class="swiper-slide">
        <div class="team-box">
            <div class="t-b-img">
                <img src="{% static "img/five.png" %}">
            </div>
            <div class="t-b-text">
                <strong>شیدا علیخانی</strong>
                <span>دندانپزشک</span>
                <div class="team-social">
                    <a href="#">
                        <img src="{% static "img/icons8-twitter-circled-94.png" %}">
                    </a>
                    <a href="#">
                        <img src="{% static "img/icons8-instagram-94.png" %}">
                    </a>
                    <a href="#">
                        <img src="{% static "img/phone3d.png" %}">
                    </a>
                </div>
            </div>
        </div>
      </div>

    </div>
  </div>
    </section>


     <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      effect: "coverflow",
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: "auto",
      coverflowEffect: {
        rotate: 20,
        stretch: -20,
        depth: 120,
        modifier: 3,
        slideShadows: true,
      },
    });
  </script>

  <!-- <menu></menu> -->

  <div id="sidenav">
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">خانه</a></li>
                <li><a href="{% url 'booking' %}">نوبت دهی</a></li>
                <li><a href="{% url 'dentist' %}">اعضا</a></li>
                <li><a href="#services">خدمات</a></li>
                <li><a href="#feature">درباره ما</a></li>
               <li><a href="{% url 'contact' %}">ارتباط با ما</a></li>
        </ul>
    </nav>
</div>

<div id="menubtn">
    <i class="fa-solid fa-bars" id="menu"></i>
</div>

<script>
    var menubtn = document.getElementById("menubtn")
    var menu= document.getElementById("menu")
    var sidenav = document.getElementById("sidenav")


    menubtn.onclick = function(){
        if(sidenav.style.right == "-200px"){
            sidenav.style.right = "0"
        }
        else{
            sidenav.style.right = "-200px"


        }
    }

var scroll = new SmoothScroll('a[href*="#"]', {
speed: 1000,
speedAsDuration: true
});
</script>
</body>
</html>
